/*/// UDACITY DAND - Data Visualisation - Giacomo Sarchioni*/
/*This is the main CSS stylesheet for the project*/
.axis {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300i;
	font-size: 14px;
}

.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis path {
  display: none;
}

.bar {
	fill: #428bca;
}

.bar.highlight {
	fill: #ffbf00;
}

.country {
	stroke: #beb7b7;
	stroke-width: 0.75;
	fill: white;
}

.focus-circle {
	fill: red;
	stroke: white;
	stroke-width: 2;
}

.focus-line {
	fill: none;
	stroke: rgb(8,52,112);
	stroke-width: 2;
}

.focus-x {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300i;
	font-size: 10px;
}

.focus-y line{
  shape-rendering: crispEdges;
  stroke: #000;
}

.hidden {
	display: none;
}

.legend-range {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300i;
	font-size: 12px;
	text-anchor: end;
	fill: #beb7b7;
}

.legend-title {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-anchor: start;
	fill: grey;
}

.legend-range.min{
	text-anchor: start;
}

.line {
	fill: none;
}

.purpose path {
	stroke-width: 2;
}

.purpose text {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

.purpose.focused path {
	stroke-width: 3;
}

.purpose.focused text {
	font-weight: 400;
}

.purpose.unfocused path {
	stroke: #d8d8d8;
}

.purpose.unfocused text {
	fill: #d8d8d8;
}

.purpose .percentage-box {
	text-align: left;
	alignment-baseline: middle;
}

.purpose .purpose-box {
	cursor: default;
	text-anchor: start;
}

.tick line {
	stroke-width: 0.5;
	opacity: 0.3;
}

#title {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 18px;
}

#tooltip {
	position: absolute;
	pointer-events: none;
	height: auto;
}

#tooltip.map{
	position: absolute;
	text-align: left;
	height: auto;
	padding: 10px;
	background-color: none;
	pointer-events: none;
}

#tooltip.trend {
	text-align: center;
	padding: 10px;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	opacity: 0.9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#tooltip p {
		margin: 0;
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 16px;
		line-height: 20px;
	}

#tooltip-title {
	font-weight: 700;
}

.year {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 80px;
	fill: grey;
	cursor: ew-resize;
}






